/* Colors */
$color-white: #FFF;
$color-black: #000;
$color-violet:#9356DC; 
$color-clear-gray: #F6F6F6;
$color-dark-gray: #EAEAEA;
$color-gray: gray;
$color-clear-green: #99E2D0;
$color-dark-green: #008766;
$color-footer: #353535;